streamlit==1.36.0
youtube-transcript-api==0.6.1
langchain==0.1.14
langchain-community==0.0.36
langchain-core==0.1.38
langchain-huggingface==0.0.51
faiss-cpu==1.8.0
sentence-transformers==2.2.2
huggingface-hub==0.21.2
requests==2.31.0
numpy==1.24.3
torch==2.1.2